.App {
  text-align: center;
  font-family: 'News Gothic';
  background-color: #F6FAFF;
}

body {
  background-color: #F6FAFF;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'News Gothic';
  src: url('./assets/fonts/NewsGothicRegular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'News Gothic Bold';
  src: url('./assets/fonts/NewsGothicBold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Light.ttf');
  font-weight: normal;
}

.fc .fc-toolbar-title {
  color: var(--text, #3F3F3F) !important;
  font-family: News Gothic;
  font-style: normal;
  line-height: normal;
  font-size: 2rem !important;
  font-weight: 700 !important;
}

.fc-day-today {
  background-color: rgba(21, 109, 191, 0.1) !important;
}