/* classes styling*/

.logintitle {
    position: absolute;
    width: 239.61px;
    height: 83px;
    left: 986px;
    top: 245px;

    font-family: 'News Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 83px;
/* identical to box height */


/* text */

color: #3F3F3F;
}

/* input{
    box-sizing: border-box;
    position: absolute;
    width: 541px;
    height: 62px;
    left: 986px;
    top: 397px;
    border: 1.5px solid #D5D5D5;
    border-radius: 8px;
} */
.bigtitle{
    font-weight: 700;
    font-size: 3rem;
}

.container{
    display: flex;
    flex-direction: row;
    height: 97vh;
}

.left_column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.signinForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    text-align: left;
    margin-left: 30px !important;
}

.signinForm p{
    margin: 10px 0 10px 0 !important;
}

.family_img{
    width: 30vw;
    margin-left: 60px;
    margin-bottom: 20px;
}

.design_top{
    position: absolute;
    z-index: -1000;
    right: 0;
    top: 0;
    max-width: 100%;
}

.design_bottom{
    position: absolute;
    z-index: -1000;
    left: 0;
    bottom: 0;
    max-width: 100%;
}

.design_top2{
    position: absolute;
    z-index: -1000;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 300px;
}

.design_bottom2{
    position: absolute;
    z-index: -1000;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: 230px;
}

.textfield{
    box-sizing: border-box;
    /* border: 1.5px solid #D5D5D5 !important; */
    border-radius: 8px;
}

.full_width{
    width: 60%;
    margin: 0;
    margin-bottom: 15px !important;
}

.half_width{
    width: 29.5%;
    margin: 0 10px 15px 0 !important;
}

.button_width{
    width: 100%;
    margin: 0;
    margin-bottom: 20px !important;
}

.signup_button{
    display: block;
    color: white;
    background: #00AAEE;
    border-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.google_button{
    background: transparent;
    border-radius: 5px;
    border-color: #989898;
    color: #989898;
    height: 50px;
}

.google_logo{
    margin-right: 15px;
}

.or{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #989898;
    margin-bottom: 20px;
}

.or p{
    margin: 0 !important;
}

.line {
    width: 40%;
    height: 1px;
    background: #989898;
  }