.message{
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    background-color: aquamarine;
    border: solid;
    border-radius: 20px;
}
button{
    border-radius: 50px;
    margin: 5px;
}