.blobs{
    position: fixed;
    top: 0;
    left: 10%;
    z-index: -1000;
}

.calendar_container h1{
  color: black;
  font-size: 2.8rem;
  font-family: News Gothic;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  height: 22px;
  padding: 0;
  margin-right: auto;
}

.calendar{
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 50px;
    max-width: 1100px;
    margin: 40px auto;
    font-family: 'Inter';
    flex-basis: 70%; /* Adjust the width as needed */
    padding: 2.5rem;
    height: fit-content;
}

.calendar a{
    color: #3F3F3F;
    text-decoration: none;
}

.calendar table{
    /* border-radius: 10px; */
}

.calendar th{
    height: 40px;
    vertical-align: middle;
    background: rgba(21, 109, 191, 0.1);
}

.submit_button{
    border-radius: 10px;
    margin: 5px;
}

.calendar-container {
    display: flex;
    flex-wrap: row;
  }

  .upcoming-events {
    flex: 1;
    flex-basis: 30%; /* Adjust the width as needed */
    padding: 1rem;
    margin-left: 20px;
    text-align: left;
  }

  .upcoming-events-title {
    color: var(--text, #3F3F3F);
    font-family: News Gothic;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
  }

  .event {
    height: auto;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0.5px solid var(--reverse-light-gray, #CCC);
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
  }

  .event-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    align-self: flex-start;
    color: #3F3F3F;
  }

  .event-details {
    margin-top: 0.5rem;
  }

  .contentContainer {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  
  .event-date {
    color: #818181;
    font-family: News Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .event-description {
    color: #818181;
    font-family: News Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .event-time {
    font-weight: bold;
    margin-left: auto;
  }

.title {
  text-align: left;
  padding: 1.5em;
  font-weight: bold;
  color: #1d2366;
}

.buttonBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  padding: 35px;
  padding-right: 0px;
}

.addEventButton {
  background: #156DBF;
  border-radius: 12px;
  border: none;
  padding: 16px 32px;

  font-family: 'News Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  height: fit-content;

  color: #FFFFFF;
}

.labels_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.labels_container p{
  margin: 0;
  margin-top: 15px !important;
  margin-bottom: 5px;
  width: 50%;
  color: var(--text, #3F3F3F);
  font-size: 16px;
  font-family: News Gothic;
  font-weight: 500;
}

.dialogContainer {
  padding: 20px;
}

.dialog_h3{
  color: var(--text, #3F3F3F);
  font-size: 23px;
  font-family: News Gothic;
  font-weight: 700;
}

.dialog_h3_2 {
  margin-top: 30px;
}

.fotc-events {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue, #0AE);
}

.av-events {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--ochre, #EB1);
}

.ms-events {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--coral, #F52);
}

.flex_container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex_container h3 {
  margin: 0;
}

.files_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed #787878;
  margin-bottom: 15px;
  height: 40px;
  width: 48%;
}

.files_container img {
  width: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.files_container button {
  margin-left: auto;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: white;
  vertical-align: middle;
  font-size: 10px;
  font-weight: 700;
  margin-right: 10px;
}