.bigtitle{
    font-weight: 700;
    font-size: 3rem;
    color: #3F3F3F;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 97vh;
}

.container > * {
    flex: 1 1 300px;
  }

.left_column{
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signinForm{
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

@media screen and (max-width: 650px) {
    .signinForm{
        margin: 50px !important;
    }
    .signinForm div{
        width: 100% !important;
    }
    .family_img{
        margin-top: 150px !important;
        width: 75vw !important;
    }
    .left_column{
        margin: 0 50px 0 50px !important;
    }
    .design_bottom{
        bottom: -100vw !important;
    }
    .design_bottom2{
        bottom: -50vw !important;
    }
    .username2{
        display: block !important;
        margin-top: 30px !important;
    }
  }

.signinForm p{
    margin: 10px 0 10px 0 !important;
}

.username, .username2{
    display: inline;
}

.family_img{
    max-width: 100%;
    width: 35vw;
}

.design_top{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
}

.design_bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
}

.design_top2{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 300px;
}

.design_bottom2{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: 230px;
}

.textfield{
    box-sizing: border-box;
    border-radius: 8px;
}

.full_width{
    width: 60%;
    margin: 0;
    margin-bottom: 15px !important;
}

.half_width{
    width: 29.5%;
    margin: 0 10px 15px 0 !important;
}

.button_width{
    width: 100%;
    margin: 0;
    margin-bottom: 20px !important;
}

.signup_button{
    display: block;
    color: white;
    font-weight: bold;
    /* background: #00AAEE; */
    background: #156DBF;
    border-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.google_button{
    background: transparent;
    border-radius: 5px;
    border-color: #989898;
    /* color: #989898; */
    color: #3F3F3F;
    font-weight: bold;
    height: 50px;
}

.google_logo{
    margin-right: 15px;
}

.or{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #989898;
    margin-top: 20px;
    margin-bottom: 30px;
}

.or p{
    margin: 0 !important;
}

.line {
    width: 40%;
    height: 1px;
    background: #989898;
  }

.approve_family_img {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 130px;
    width: 400px;
}

  .request_pending_message {
    /* Your request to become a mentor has been received and is awaiting approval.
    We will send you an email once your account has been approved. */
    width: 597px;
    text-align: center;
    color: #000;
    font-size: 17px;
    font-family: News Gothic;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login_form{
    z-index: 1000;
}

.approve_container{
    justify-content: center;
    height: 100vh;
}

.approve_main {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.approve_main :first-child {
    color: #000;
    margin-top: 40px;
}

.approve_main :nth-child(2) {
    margin-top: 20px;
}

.approve_title{
    color: #000;
    font-size: 43px;
    font-family: News Gothic;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logout {
    margin-top: 5px;
    padding: 8px;
    width: 350px;
    position: relative;
    z-index: 10000;
    border-radius: 12px;
    border: 2px solid #156DBF;
    background: #FFF;
}

.logout a {
    color: #156DBF !important;
    font-size: 16px;
    font-family: News Gothic;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
  .roleButton {
    margin-right: 14px;
    width: 135px;
    padding: 10px 15px; 
    border-radius: 8px;
    border: 1.5px solid var(--green, #6AA);
    background-color: transparent;
    color: var(--text, #3F3F3F);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .roleButton:hover {
    background-color: var(--green, #6AA);
    color: white;
  }
  
  .roleButton.active {
    border-radius: 8px;
    border: 1.5px solid var(--green, #6AA);
    background: #6AA;
    color: var(--white, #FFF);
    font-family: News Gothic;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .fotc_button {
    border: none;
    background-color: transparent;
  }
