a{
    text-decoration: none;
    /* color: black; */
}

.mentees_page{
    text-align: left;
    padding: 50px 0px 25px 50px;
}

.dialogContainer {
    padding: 20px;
}

.dialog_h3{
    color: var(--text, #3F3F3F);
    font-size: 23px;
    font-family: News Gothic;
    font-weight: 700;
}

.dialog_h3_2 {
    margin-top: 30px;
}

.head_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_container button {
    display: flex;
    padding: 13px 30px;
    align-items: flex-start;
    gap: 15px;
    margin-right: 50px;
    flex-shrink: 0;
    border: none;
    border-radius: 12px;
    background: #156DBF;
    color: #FFF;
    font-size: 18px;
    font-family: News Gothic;
    font-weight: 700;
}

.head_container h1 {
    color: #000;
    font-family: News Gothic;
    font-weight: 700;
}

.labels_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.labels_container p{
    margin: 0;
    margin-top: 15px !important;
    margin-bottom: 5px;
    width: 50%;
    color: var(--text, #3F3F3F);
    font-size: 16px;
    font-family: News Gothic;
    font-weight: 500;
}

.folders_page{
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px 0px 50px 80px;
    text-align: left;
}

.folders_page h3{
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 80px;
    margin-bottom: 30px;
}

.mentees_container{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    text-align: left;
}

.card_container{
    display: inline-block;
    margin: 30px 50px 0 0;
    width: 300px;
}

.card{
    padding: 15px;
    background: #156DBF;
    border: 0.5px solid #CCCCCC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card p{
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 700;
    color: white;
    font-size: 1.3rem;
}

.imageCard{
    margin-bottom: 10px;
    height: 100px;
    border-radius: 10px;
    background: white;
}

.folders_map{
    display: inline-flex;
    flex-wrap: wrap;
}

.folder_container{
    display: inline-block;
    padding: 50px 0px 50px 40px;
    width: 270px;
    margin-left: -20px;
    background-image: url(../assets/images/folder.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.folder_content {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap value as needed */
  }
  
.folder_container img{
    width: 70px;
    margin-right: 1vw;
    margin-top: -10px;
}

.folder_container_linksImg{
    width: 100px !important;
    margin: 0 !important;
    margin-top: -40px !important;
    margin-right: -10px !important;
}

.folder_container p{
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
}

.img_container{
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 250px;
}

.img_container li{
    margin-right: 20px;
    word-wrap: break-word;
}

.media_image{
    width: 230px;
    height: 230px;
}

.profile_container{
    display: grid;
    flex-wrap: wrap;
    column-gap: 15vw;
    row-gap: 5vw;
    align-items: flex-end;
    margin-bottom: 3vw;
}

.profile_container h1{
    font-size: 3rem;
    font-family: News Gothic;
    font-weight: 700;
}

.pfp{
    display: inline-block;
    margin-right: 2.5vw;
}

.profile_pic{
    /* background: white; */
    border-radius: 50%;
    width: 150px;
}

.user_info{
    display: inline-block;
    margin-right: 2.5vw;
    vertical-align: middle;
}

.clearance{
    display: inline-block;
}

.clearance button {
    border: none;
    background: none;
}

.clearance button img {
    margin-bottom: 35px;
}

.mediaForm p{
    margin-bottom: 0 !important;
}

input[type="radio"] {
    display: none;
  }

  /* Style the label to appear as clickable images */
  .image_label {
    z-index: 100;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
  }

  /* Add styles for the selected image */
  .image_label.selected {
    border: 5px solid #00AAEE !important;
    border-radius: 50%;
  }

  .image_label img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .caregiverInfo{
    text-align: center;
  }
  
  .caregiverInfo h5{
    color: #000;
    font-size: 26px;
    font-family: News Gothic;
    font-weight: 500;
  }

  .caregiverInfo p {
    color: #000;
    font-size: 20px;
    font-family: News Gothic;
    font-weight: 500;
    margin: 0;
  }

  .caregiverLine{
    width: 100%;
    height: 3px;
    flex-shrink: 0;
    background-color: #00AAEE;
  }

  .caregiverFlex {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mentee_card {
    position: relative;
    display: inline-block;
  }

  .mentee_img {
    width: 350px;
    vertical-align: middle;
  }

  .card_content {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text, #3F3F3F);
    font-size: 20px;
    font-family: Inter;
  }

  .card_content_flex{
    display: flex;
    width: 330px;
    align-items: center;
    gap: 10px;
  }

  .card_content_flex img {
    width: 120px;
  }

  .mentee_desc h3 {
    color: #3F3F3F;
    font-size: 1.5rem;
    font-family: News Gothic;
    font-weight: 700;
  }

  .mentee_desc p {
    color: var(--text, #3F3F3F);
    font-size: 1.1rem;
    font-family: Inter;
    padding: 0;
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttons :first-child{
    color: #156DBF;
    font-size: 18px;
    font-family: News Gothic;
    font-weight: 700;
  }

  .buttons :nth-child(2){
    color: #FFF;
    font-size: 18px;
    font-family: News Gothic;
    font-weight: 700;
  }
  