.message{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #0000000d;
    border: solid;
    border-radius: 10px;
}

.pinnedmessage{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 4px 20px #0000000d;
    border: solid;
    border-radius: 10px;
}

.titlediv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcement {
    text-align: left;
    padding: 1.5em;
    font-weight: bold;
    color: #1d2366;
}

.pinnedtitle {
    text-align: left;
    font-size: 1.8em;
    padding-left: 2em;
}

.button{    
    border-radius: 50px;
    margin: 5px;
}

.pinnedbutton{
    border-radius: 50px;
    margin: 5px;
}

.title_css {
    text-align: left;
    font-size: 2em;
}

.body_css {
    text-align: left;
    font-size: 1.3em;
}


