.message{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #0000000d;
    border: solid;
    border-radius: 10px;
}

.pinnedmessage{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 4px 20px #0000000d;
    border: solid;
    border-radius: 10px;
}

.titlediv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcement {
    text-align: left;
    padding: 1.5em;
    font-weight: bold;
    color: #1d2366;
}

.pinnedtitle {
    text-align: left;
    font-size: 1.8em;
    padding-left: 2em;
}

.button{    
    border-radius: 50px;
    margin: 5px;
}

.pinnedbutton{
    border-radius: 50px;
    margin: 5px;
}

.title_css {
    text-align: left;
    font-size: 2em;
}

.body_css {
    text-align: left;
    font-size: 1.3em;
}

.buttonBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.createPostButton {
    background: #156DBF;
    border-radius: 12px;
    border: none;
    padding: 16px 40px;
    gap: 10px;

    font-family: 'News Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.labels_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.labels_container p{
    margin: 0;
    margin-top: 15px !important;
    margin-bottom: 5px;
    width: 50%;
    color: var(--text, #3F3F3F);
    font-size: 16px;
    font-family: News Gothic;
    font-weight: 500;
}

.dialogContainer {
    padding: 20px;
}

.dialog_h3{
    color: var(--text, #3F3F3F);
    font-size: 23px;
    font-family: News Gothic;
    font-weight: 700;
}

.dialog_h3_2 {
    margin-top: 30px;
}

.space {
    height: 30px;
}

.half_width{
    margin: 0 10px 15px 0 !important;
}
