.message{
    margin-bottom: 30px;
    margin-left: 3em;
    padding: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    color: var(--text, #3F3F3F);
}

.pinnedmessage{
    margin-bottom: 30px;
    margin-left: 3em;
    padding: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.titlediv {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

.announcement {
    text-align: left;
    padding: 1.5em;
    font-weight: bold;
    color: #1d2366;
}

.pinnedtitle {
    margin: 0;
    margin-right: auto;
    text-align: left;
    font-size: 1.8em;
    padding-left: 2em;
}

.button{    
    border-radius: 50px;
    margin: 5px;
}

.pinnedbutton{
    border-radius: 50px;
    margin: 5px;
}

.postTitleContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.serviceContainer {
    display: inherit;
    margin-left: 25px;
}

.serviceContainer2 {
    display: flex;
}

.serviceAreaCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    background: linear-gradient(var(--green, #6AA), #FF9292, var(--ochre, #EB1));
}

.serviceAreaCircle_AV {
    background: var(--green, #6AA) !important;
}

/* .serviceAreaCircle_CS {
    background: #FF9292 !important;
} */

.serviceAreaCircle_MS {
    background: var(--ochre, #EB1) !important;
}

.date {
    margin-bottom: 0;
    font-size: 1.1em;
    margin-right: 10px;
}

.title_css {
    margin-right: auto;
    margin-left: 15px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 500;
    font-size: 1.5em;
}

.body_css {
    text-align: left;
    font-size: 1.1em;
}

.actionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 3.5em;
}

.createPostButton {
    background: #156DBF;
    border-radius: 12px;
    border: none;
    padding: 16px 40px;
    gap: 10px;
    height: 58px;
    font-family: 'News Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-left: auto;
    color: #FFFFFF;
}

.labels_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.labels_container p{
    margin: 0;
    margin-top: 15px !important;
    margin-bottom: 5px;
    width: 50%;
    color: var(--text, #3F3F3F);
    font-size: 16px;
    font-family: News Gothic;
    font-weight: 500;
}

.dialogContainer {
    padding: 20px;
}

.dialog_h3{
    color: var(--text, #3F3F3F);
    font-size: 23px;
    font-family: News Gothic;
    font-weight: 700;
}

.dialog_h3_2 {
    margin-top: 30px;
}

.space {
    height: 30px;
}

.half_width{
    margin: 0 10px 15px 0 !important;
}

.wallWrapper {
    padding-bottom: 50px;
}