.message{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #0000000d;
    border: solid;
    border-radius: 10px;
}

.pinnedmessage{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(255, 127, 127);
    box-shadow: 0px 4px 20px #0000000d;
    border: solid;
    border-radius: 10px;
}

.button{
    border-radius: 50px;
    margin: 5px;
}

.pinnedbutton{
    border-radius: 50px;
    margin: 5px;
    background-color: rgb(219, 255, 127);
}