@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Light.ttf');
}
.card {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFFFFF;
    border: 0.5px solid #CCCCCC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content_container{
    padding: 0 0 0 50px;
    text-align: left;
}

.cards_container{
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    gap: 20px;
    text-align: left;
}

.filecard {
    width: 100%;
    height: 92px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid var(--dark-blue-for-nav-bar, #156DBF);
    display:flex;
    align-items: center;
}

.resourcetext {
    color: #000;
    font-family: Inter;
    font-weight: 700 !important;
    font-size: 20px;
    margin-bottom: 0;
    padding: 1em;
}

.fileIcon {
  position: relative;
  left: 10px;
  margin-right: 15px;
  font-size: large;
  color:#156DBF;
  transform: scale(2);
}

.backContainer {
    padding-top: 3%;
    /* padding-bottom: 20%; */
}

.backButton {
    color: black;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
}

.titleContainer {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backAndTitle {
    display: flex;
    flex-direction: row;
    gap: 1em;
    vertical-align: middle;
    align-items: center;
    padding: 3%;
}

.editAndAddFile {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 5%;
    height: 110px !important;
}

.editButton {
    background: #FFFFFF;
    border: 2px solid #156DBF;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: inline-block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    gap: 8px;
}

.body {
    font-size: 20px;
    box-sizing: border-box;

    width: 90%;
    background: #FFFFFF;

    border-color: transparent;
    border-radius: 10px;
}

.fileContainer {
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    height: auto;
    background-color: #DEF1FF;
    border-radius: 10px;
    padding: 15px;
    margin: 30px 10px 30px 10px;
    overflow: hidden;
}

.filesContainer{
    margin-top: 50px;
}

.preview {
    /* display: inline-block; */
    width: 100% !important;
    height: 230px !important;
    border-radius: 10px;
    cursor: pointer;
}

.pdf_preview{
    cursor: pointer;
}

.displayPdf{
    height: 500px;
    width: 500px;
}

.displayImg {
    width: 100%; /* Make the image fill the width of the container */
    height: 100%; /* Make the image fill the height of the container */
    object-fit: cover; /* Crop the image to fill the container */
}

/* .descriptionBar {
    width: 100%;
    height: 100%;
} */

.descriptionContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 700;
    margin-top: 10px;
    width: 100%; /* Make the image fill the width of the container */
    height: 100%; /* Make the image fill the height of the container */
}

.fileName {
    width: 300px !important;
    white-space: nowrap; /* Prevent text from wrapping to multiple lines */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Display an ellipsis (...) when the text overflows */
    text-align: left;
    margin-left: 20px;
    margin-right: 60px;
    cursor: pointer;
}

.deleteFilesBar {
    position: fixed;
    bottom: 0;
    width: 75%;
    height: 10%;
    background: #F6F9FA;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: center;
}

.totalSelected {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 5em;
    padding-right: 5em;
    align-items: center;
}

.selectedNumber {
    background: #00AAEE;
    border-radius: 8px;
    padding: 2% 7% 2% 7%;
    color: white;
}

.dialogTitle {
    color: var(--text, #3F3F3F);
    font-size: 24px !important;
    font-weight: 700 !important;
}

.dialogContainer{
    padding: 20px 30px 20px 30px;
}

.cancelOrDelete {
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-weight: bold;
    padding-right: 5em;
    padding-left: 5em;
}

.cancelButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7em;

    background: #FFFFFF;

    border: 0.125em solid #00AAEE;
    border-radius: 10px;
    color: #00AAEE;
    height: 2.5em;
    font-weight: bold;
}

.deleteButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7.125em;
    color: white;
    height: 2.625em;

    background: #FF5522;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
}

.confirmMessage {
    margin-bottom: 50px;
}

.confirmDeleteBody {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 800px;
    border-radius: 10px;
}

.confirmButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
}

.confirmCancel {
    text-decoration-line: underline;
    background-color: white;
    border-width: 0;
    color: #3F3F3F;
}

.confirmDelete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 39px;
    gap: 12px;
    color: white;

    width: 116px;
    height: 44px;

    /* coral */

    background: #FF5522;
    border-radius: 10px;
    border: 0px;
    font-weight: 700px;
}

.checkbox {
    padding: 0;
    margin: 0;
    height: 22.94px;
    width: 22.94px;
}

.resourcesContainer {
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 2em;
}

.resourcesDisplay {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 95%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.pageTitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #000000;
    padding-top: 1em;
    padding-left: 1em;
}

.moduleTitle{
    padding: 0;
}

.editOrAddModule {
    display: flex;
    gap: 10%;
    height: 85px;
    font-family: 'News Gothic';
    font-weight: 700px;
    font-size: 18px;
    padding-right: 4em;
    padding-top: 2em;
} 

.editModuleContainer {
    display: flex;
}

.editModule {
    background: #FFFFFF;
    color: var(--dark-blue-for-nav-bar, #156DBF) !important;
    font-family: News Gothic;
    font-weight: 700 !important;
    border: 2px solid #156DBF;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25em 1em 0.25em 1em;
}

.editModule :first-child{
    margin-right: 10px;
}

.editModule:hover {
    background: #FFFFFF;
    border: 2px solid #156DBF;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25em 1em 0.25em 1em;
}

.addModule {
    font-weight: 700;
    background: #156DBF;
    color: white;
    display: flex;
    border-radius: 12px;
    flex-wrap: nowrap;
    box-shadow: none;
    border: none;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25em 1em 0.25em 1em;
}

.addModule:hover {
    background: #156DBF;
    color: white;
    display: flex;
    border-radius: 12px;
    flex-wrap: nowrap;
    box-shadow: none;
    border: none;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25em 1em 0.25em 1em;
}

.cancelOrSave {
    display: flex;
    gap: 30%;
    padding-right: 7em;
    padding-top: 2em;
    font-weight: bold;
}

.saveModuleChanges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 39px;
    gap: 12px;
    color: #156DBF;

    width: 116px;
    height: 44px;

    border: 1px solid #156DBF !important;
    background-color: #F6FAFF; 
    border-radius: 10px;
    border: 0px;
    font-weight: 700px;
}

.cancelModuleChanges {
    background-color: #F6FAFF;
    text-decoration-line: underline;
    border-width: 0;
    color: #3F3F3F;
}

.fieldSpan{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 20px;
}

.fieldSpan :first-child{
    margin-right: 350px;
}

.fieldSpan :nth-child(n+2){
    margin-right: 70px;
}

.fieldSpan h5{
    color: #3F3D56;
    font-size: 16px;
    font-family: News Gothic;
    font-weight: 700;
}

.spanContainer{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.04);
    width: 100%;
    height: 80px;
    flex-shrink: 0;
}

.spanFile{
    display: flex;
    height: 100%;
    margin-left: 20px;
    align-items: center;
    vertical-align: middle;
    color: var(--text, #3F3F3F);
    font-size: 20px;
    font-family: News Gothic;
    font-weight: 500;
}

.spanFile :nth-child(n+3){
    max-width: 200px;
    text-align: left;
    margin-right: 60px;
    overflow: hidden;
}

.spanFile :nth-child(5){
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spanFile :nth-child(6){
    position: absolute;
    right: 40px;
}

.heart_button {
    border: none;
    background: none;
    padding: 0;
    margin-left: 10px;
  }

.line{
    margin: 7px 30px 20px 20px;
    height: 0px;
    left: 230px;
    border: 1.3px solid #CCC;
}

.tab_bar{
    text-align: left;
    margin: 30px 0 0 50px;
}

.tab_bar button{
    font-size: 20px;
    font-family: News Gothic;
    font-weight: 500;
    color: var(--text-grey, #989898);
    padding: 0;
    padding-right: 65px;
    border: none;
    background: none;
}

.tab_selected {
    color: #000 !important;
    text-decoration: underline;
    text-decoration-color: #156DBF;
    text-underline-offset: 15px;
}