.card {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFFFFF;
    border: 0.5px solid #CCCCCC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.backButton {
    border: solid;
}

.title {
    font-size: 30px;
}

.body {
    font-size: 20px;
}

.file {
    display: inline-block;
    vertical-align: middle;
    /* width: 250px;
    height: auto; */
    /* margin-top: 50px;
    margin-bottom: 50px; */
    background-color: #DEF1FF;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 30px 10px 30px 10px;
}

.preview {
    display: inline-block;
    width: 230px !important;
    height: 230px !important;
    /* position: absolute; */
    /* left: 5.8%;
    right: 5.54%;
    top: 5.11%;
    bottom: 16.94%; */
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 700;
    margin-top: 10px;
}

/* .pdf {
    height: 50%;
    width: auto;
} */