.container{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
}

.bigtitle{
    width: 217px;
    height: 3.56rem;
    left: 22.5rem;
    top: 4rem;

    font-family: 'News Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: #3F3F3F;
}

.button_width{
    margin: 0;
    margin-bottom: 20px !important;
}

.line {
    width: 100%;
    height: 1px;
    background: #989898;
  }

.tabs {
    padding-left: 10rem;
}

.roleWrapper {
    border-radius: 20px;
    padding: 5px;
    max-width: 100px;
    text-align: center;
}

.Caregiver {
    color: #871B99;
    background: rgba(167, 116, 185, 0.15);
}

.Mentor {
    color: #005DE8;
    background: rgba(0, 170, 238, 0.15);
}

.Admin {
    color: #e88b00;
    background: rgba(238, 194, 0, 0.15);
}

.approveIcon {
    width: 140px;
}